{
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "crlf",
	"printWidth": 100,
	"singleQuote": true,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false
}
